<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invoice</title>
<link rel="stylesheet" href="http://{$domainData.campaign_domain}/media/templates/1432241262/1432241262.css">
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
    	<td>
            <table width="1020" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top">
                    	<table width="1020" border="0" align="left" cellpadding="15" cellspacing="0">
                        	<tr>
                            	<td valign="top" style="font-size: 50px; font-family: Helvetica, Verdana, Arial, sans-serif;">
                                	<span style="font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif; font-size: 35px; font-weight: bold; text-transform: uppercase;">Invoice</span><br /><br />
									<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 40px; font-family: Helvetica, Verdana, Arial, sans-serif;">
										<tr>
											<td align="left">  
												<span style="font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase;">{$domainData.campaign_name}</span><br><br>
												Cell: {$invoiceData.invoice_person_number|default:"N/A"} / Tel: {$invoiceData.client_contact_telephone|default:"N/A"}<br />
												Email: {$invoiceData.invoice_person_email|default:"N/A"}<br />
												To: {$invoiceData.invoice_person_name}<br />
											</td>
										</tr>
									</table>
									<br />
									<p>
									The invoice reference is <span style="font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase;">{$invoiceData.invoice_code}</span> and has a total remaining amount of <span style="font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase;">R {$invoiceData.payment_remainder|number_format:2:",":" "}</span>.<br /><br />{$invoiceData.invoice_notes}
									</p>							
									<p>
										Below is the break down of the invoice: 
									</p>		
										<table id="items" style="font-size: 40px; font-family: Helvetica, Verdana, Arial, sans-serif;">
											<tbody>
												<tr>
													<th width="20%">Item</th>
													<th width="50%">Description</th>
													<th width="5%">Unit</th>
													<th>Price</th>
													<th>Total</th>
												</tr>
												<tr class="item-row">
													<td colspan="5"></td>
												</tr>												
													{foreach from=$invoiceData.invoiceitem item=item}
													<tr class="item-row">
														<td class="item-name">{$item.invoiceitem_name}</td>
														<td class="description">{$item.invoiceitem_description}</td>
														<td class="item-name">{$item.invoiceitem_quantity}</td>
														<td align="right">R {$item.invoiceitem_amount|number_format:2:",":" "}</td>
														<td align="right">R {$item.invoiceitem_total|number_format:2:",":" "}</td>
													</tr>
													{/foreach}
												<tr>
													<th align="left" colspan="5" class="total-value" >Payments Made</th>
												</tr>
												{foreach from=$invoiceData.invoicepayment item=item}
												<tr class="item-row">
													<td class="item-name" colspan="2">{$item.invoicepayment_paid_date|date_format:"%B %e, %Y"}</td>
													<td class="description"colspan="3" align="right">- R {$item.invoicepayment_amount|number_format:2:",":" "}</td>
												</tr>
												{foreachelse}
												<tr class="item-row">
													<td align="left" colspan="5">No Payments made yet.</td>
												</tr>			
												{/foreach}
												<tr>
													<th align="left" colspan="5" class="total-value" >Total Amounts</th>
												</tr>												
												<tr>
													<td align="left" colspan="2">Item Total</td>
													<td align="center"></td>
													<td align="right" colspan="2">R {$invoiceData.item_total_sub|number_format:2:",":" "}</td>
												</tr>
												<tr>
													<td align="left" colspan="2">Vat Total at {math equation="x * y" x=$domainData.campaign_vat y=100}%</td>
													<td align="center"></td>
													<td align="right" colspan="2">R {$invoiceData.item_vat|number_format:2:",":" "}</td>
												</tr>
												<tr>
													<td align="left" colspan="2">Sub Total</td>
													<td align="center"></td>
													<td align="right" colspan="2">R {$invoiceData.item_total|number_format:2:",":" "}</td>
												</tr>
												<tr>
													<td align="left" colspan="2">Payments Total</td>
													<td align="center"></td>
													<td align="right" colspan="2">R {$invoiceData.payment_total|number_format:2:",":" "}</td>
												</tr>
												<tr>
													<td align="left" colspan="2">Invoice Total (remaining)</td>
													<td align="center"></td>
													<td align="right" colspan="2">R {$invoiceData.payment_remainder|number_format:2:",":" "}</td>
												</tr>												
											</tbody>
										</table>		
										<p id="terms">
										Payments Made To:<br /><br />
										Account Holder: {$domainData.campaign_bankaccount_holder}<br />
										Bank: {$domainData.campaign_bankaccount_bank}<br />
										Account Number: {$domainData.campaign_bankaccount_number}<br />
										Branch Code: {$domainData.campaign_bankaccount_branchcode}<br />
										Reference: {$invoiceData.invoice_code} 
										</p>										
                                </td>								
                            </tr>
                        </table>
					</td>
				</tr>
            </table>
		</td>
	</tr>
</table>
</body>
</html>