<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://{$bookingData.campaign_domain}/templates/{$bookingData.campaign_code}/invoice/css/style.css" />
	<link rel="stylesheet" href="http://{$bookingData.campaign_domain}/templates/{$bookingData.campaign_code}/invoice/css/print.css" media="print" />
	<link rel='stylesheet'  href="http://{$bookingData.campaign_domain}/templates/{$bookingData.campaign_code}/invoice/css/fonts.css" type='text/css' />
</head>
<body>
	<div id="page-wrap">
		<p id="header">INVOICE</p>
		<div id="identity">
            <p id="address">
			</p>
            <div class="logo">
              <a href="#" class="logo-text" >{$bookingData.campaign_company}</a>
            </div>
		</div>
		<div style="clear:both"></div>
		<div id="identity">
            <p id="address" style="width: 400px !important;">
				<span id="customer-title">{$bookingData.participant_name} {$bookingData.participant_surname}</span><br /><br />
				Email : {$bookingData.participant_email}<br />
				Cell : {$bookingData.participant_cellphone|default:"N/A"}
			</p>
            <div class="logo">
				<table width="320px">
						<tr>
							<td class="meta-head">Invoice #</td>
							<td>{$bookingData.invoice_code}</td>
						</tr>
						<tr>
							<td class="meta-head">Product</td>
							<td><p id="date">{$bookingData.product_name}</p></td>
						</tr>
						<tr>
							<td class="meta-head">Amount Due</td>
							<td><div class="due">R {$bookingData.due_amount|number_format:2:".":","}</div></td>
						</tr>
				</table>              
            </div>
		</div>
		<table id="items">
			<tr>
				<th align="left">Quantity</th>
				<th align="left">Item</th>
				<th align="left">Description</th>
				<th width="17%">Price</th>
			</tr>
			{foreach from=$bookingData.invoiceitems item=item}
			<tr class="item-row">
				<td class="item-name">{$item.invoiceitem_quantity}</td>
				<td class="item-name">{$item.product_name} - {$item.invoiceitem_name}</td>
				<td class="description">{$item.invoiceitem_description}</td>
				<td align="right">R {$item.invoiceitem_price}</td>
			</tr>
			{/foreach}
			<tr><th colspan="4" align="left">Sub Total</th></tr>
			<tr class="item-row">
				<td colspan="2" class="item-name">Items sub total</td>
				<td colspan="2" align="right">R {$bookingData.item_amount|number_format:2:".":","}</td>
			</tr>			
			<tr>
				<th colspan="4" align="left">Payments</th>
			</tr>				
			{foreach from=$bookingData.invoicepayments item=item}
			<tr class="item-row">
				<td colspan="2" class="item-name">{$item.invoicepayment_paid_date} - {$item.invoicepayment_description}</td>
				<td colspan="2" align="right">R - {$item.invoicepayment_amount|number_format:2:".":","}</td>
			</tr>
			{foreachelse}
			<tr class="item-row">
				<td colspan="4" class="item-name">No payments made yet.</td>
			</tr>			
			{/foreach}	
			<tr><th colspan="4" align="left">Vat Payment</th></tr>			
			<tr class="item-row">
				<td colspan="2" class="item-name">{math equation="x * y" x=100 y=$bookingData.campaign_vat}% of the total</td>
				<td colspan="2" align="right">R {$bookingData.vat_amount|number_format:2:".":","}</td>
			</tr>			
			<tr>
				<th colspan="4" align="left">Final Total</th>
			</tr>	
			<tr class="item-row">
				<td colspan="4" align="right">R {$bookingData.due_amount|number_format:2:".":","}</td>
			</tr>			
		</table>
		<div id="terms">
		  <p id="header">Payments Made To: </p>
		  Account Holder: {$bookingData.campaign_bankaccount_holder|default:"N/A"}<br />
		  Bank: {$bookingData.campaign_bankaccount_bank|default:"N/A"}<br />
		  Account Number: {$bookingData.campaign_bankaccount_number|default:"N/A"}<br />
		  Branch Code: {$bookingData.campaign_bankaccount_branchcode|default:"N/A"}<br />
		  <b>Invoice Reference: {$bookingData.invoice_code}</b>
		  <br /><br />
				{$bookingData.campaign_address}				
				<br /><br />
				Contact Us
				<br /><br />
				tel: {$bookingData.campaign_telephone|default:"N/A"} / fax: {$bookingData.campaign_fax|default:"N/A"} / email: {$bookingData.campaign_email|default:"N/A"}		  
		</div>
	</div>
</body>
</html>