<html>
<head>
	<title>{$domainData.campaign_company} - {$data.newsletter_title}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	{literal}
	<style type="text/css">
	.list a {color: #cc0000; text-transform: uppercase; font-family: Verdana; font-size: 11px; text-decoration: none;}
	
	h3 {
		color: #3E3E3E;
		margin: 0;
	}
	/* ------------------
	 styling for the tables 
	   ------------------   */

	#hor-minimalist-b
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		background: #fff;
		/* margin: 45px; */
		/* width: 480px; */
		width: 100%;
		border-collapse: collapse;
		text-align: left;
	}

	#hor-minimalist-b th
	{
		font-size: 14px;
		font-weight: bold;
		color: #3E3E3E;
		padding: 10px 8px;
		border-bottom: 2px solid #6678b1;
	}

	#hor-minimalist-b td
	{
		border-bottom: 1px solid #ccc;
		/* color: #669; */
		padding: 6px 8px;
	}

	#ver-minimalist
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		margin: 45px;
		width: 480px;
		text-align: left;
		border-collapse: collapse;
	}
	
	#ver-minimalist th
	{
		padding: 8px 2px;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 2px solid #6678b1;
		border-right: 30px solid #fff;
		border-left: 30px solid #fff;
		color: #039;
	}
	#ver-minimalist td
	{
		padding: 12px 2px 0px 2px;
		border-right: 30px solid #fff;
		border-left: 30px solid #fff;
		color: #669;
	}

	#box-table-b
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		margin: 45px;
		width: 480px;
		text-align: center;
		border-collapse: collapse;
		border-top: 7px solid #9baff1;
		border-bottom: 7px solid #9baff1;
	}
	#box-table-b th
	{
		font-size: 13px;
		font-weight: normal;
		padding: 8px;
		background: #e8edff;
		border-right: 1px solid #9baff1;
		border-left: 1px solid #9baff1;
		color: #039;
	}
	#box-table-b td
	{
		padding: 8px;
		background: #e8edff; 
		border-right: 1px solid #aabcfe;
		border-left: 1px solid #aabcfe;
		color: #669;
	}	
	
	a {
		text-decoration: none;
	}
	</style>
	{/literal}
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0" style="padding-top: 15px; padding-bottom: 15px;">

<table cellspacing="0" border="0" style="background-image: url(http://{$userData.domain}/templates/comms/WNT-V8IK-R3/images/bg.gif); background-color: #c5c5c5;" cellpadding="0" width="100%">
	<tr>
		<td valign="top">
			<table cellspacing="0" border="0" align="center" style="background: #fff; border-right: 1px solid #ccc; border-left: 1px solid #ccc;" cellpadding="0" width="600">
				<tr>
					<td valign="top">
						<!-- header -->
						<table cellspacing="0" border="0"  cellpadding="0" width="600">
							<tr>
								<td class="header-text" height="50" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;" width="540" colspan="2">
									<br /><br /><webversion style="color: #990000; text-decoration: none;">{$smarty.now|date_format:"%A, %B %e, %Y"}</webversion>
								</td>
							</tr>
							<tr>							
								<td class="main-title" height="5" align="center" valign="top" style="padding: 0 20px; font-size: 25px; font-family: Georgia;" width="600" colspan="2">									
									<img src="http://www.collop.co.za/administration/images/ct_logo.jpg" />
								</td>							
							</tr>
						</table>
						<!-- / header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" cellpadding="0" width="600">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
									<br />Good day at <span style="color: #CC0000; font-size: 13px;">{$userData.name}</span>, <br /><br />
									We would like to introduce Willow-Nettica (PTY) Ltd, a web development company that strives to help companies run their operations securely online. <br /><br />Our contact details:<br /><br />
									<span style="color: #CC0000; font-size: 13px;"><a href="mailto:info@willow-nettica.co.za">info@willow-nettica.co.za</a></span><br />
									<span style="color: #CC0000; font-size: 13px;"><a href="http://www.willow-nettica.co.za/">www.willow-nettica.co.za</a></span><br /><br />
									Below is a list of our products and services<br /><br />
								</td>
							</tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td>
						<table cellspacing="0" border="0" cellpadding="0" width="600">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">					
									<h3>Our Services</h3><br />									
									<span style="color: #CC0000; font-size: 13px;">Web Design</span><br />
									Our design ranges from company logos to websites, we have specialized people who are dedicated to only design to make your company unique.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Web Development</span><br />
									Besides the website that runs and works, we also development CMS (Content Management Systems), which allow the client, depending on their needs, to run and control products, services and even content that is displayed on the website.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Search Engine Optimization (SEO)</span><br />
									This is what helps your website to be detected by Google as well as other search engines, besides helping your website to be ranked as high as possible, we also offer reports only on the admin that will allow you to view your daily visitors to your website.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Social Media</span><br />
									As each company needs a website, each website needs social media to be visible to a broader audiance, we create social media campaigns as well as link them to your website, we also allow people to login/register using their social media details on your website. This includes, Facebook, Twitter,  Google+ and LinkedIn.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Bulk Email, SMS and USSD</span><br />
									This is for companies that run campaigns that require bulk sms's or emails to be sent to multiple clients, it is good to allow your clients to, this is a perfect strategy for notifications to clients about products, services as well as events to registered people. We do also cater for clients that need custom ussd strings for campaigns as well.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Brand Design and Marketing</span><br />
									The process we manage in this regard is from creating a logo, branding your company to stratigically identify the market your business is catering for, this is based on extensive market research we do on your behalf.<br /><br />
								</td>
							</tr>
						</table>
				</tr>				
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" cellpadding="0" width="600">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">					
									<h3>Hosting Packages</h3><br />
									<span style="color: #CC0000; font-size: 13px;">Basic Hosting</span><br />
									Cpanel account, 2 Gigs of Space, unlimited bandwidth, 5 emails, 1 FTP account.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Business Hosting</span><br />
									Cpanel, 5 Gig space, unlimited bandwidth, 1 FTP account, 1 databases, 3 sub-domains, 10 emails accounts.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Enterprise Hosting</span><br />
									10 Gig Space, unlimited bandwidth, 3 FTP accounts, 3 databases, 10 sub domains, 20 emails accounts.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Premium Hosting</span><br />
									30 Gig Space, unlimited bandwidth, unlimited FTP accounts, unlimited databases, unlimited sub domains, unlimited emails accounts.<br /><br />
								</td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" cellpadding="0" width="600">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">					
									<h3>Our Products</h3>
									<h5><a href="http://willow-nettica.co.za/pricelist/">For more information on the below products, click on this link</a></h5>
									<span style="color: #CC0000; font-size: 13px;">Recruitment Agency Package</span><br />
									Monthly rental comes with hosting, 10 emails, website that allows job seekers to login, view and save jobs, apply, etc. An admin system that allows you to manage, interviews (with calendar view), job applications, document storage, job seekers, jobs, client companies, CV search by content, enquiries, agents, job category, job section, job skills matrix, shortlist candidates, etc.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Driving School Package</span><br />
									Monthly rental package that comes with hosting, 5 email addresses, a website that allows people to book for driving, view available dates on a calendar, view social media links, galleries, enquiry form, etc. An Admin System that allows you to manage cars, learner driver details, driving codes available, bookings by driver, car and date/time, manage special bookings, invoice learners with a downloadable pdf invoice.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Guest house / Bed and Breakfast Package</span><br />
									Monthly rental package that comes with hosting 5 email addresses, a website that allows people to book available rooms by date on a calendar, view diferent room packages, contact form, etc. An admin system that allows you to manage inquries, galleries, guest rooms, client details, invoicing system, booking system viewed on an online calendar and more.<br /><br />
									<span style="color: #CC0000; font-size: 13px;">DEMO Websites</span><br />
									<h4>Driving School</h4>
									<a href="http://keepleftdrivingschool.co.za/admin/" target="_blank">http://keepleftdrivingschool.co.za/admin/</a><br /><br />
									username: U6M02RC2 <br />
									password: ehvbob<br />
									<h4>Guest House</h4>
									<a href="http://datumaguesthouse.co.za/admin/" target="_blank">http://datumaguesthouse.co.za/admin/</a><br /><br />
									username: IXQJHO85<br />
									password: qko5ig<br />
									<h4>Recruiter Agency</h4>
									<i>Admin Website</i><br />
									<a href="http://www.sasss.co.za" target="_blank">http://www.sasss.co.za</a><br /><br />
									username: mornelincoln@ymail.com<br />
									password: 513085bd<br /><br />
									<i>Frontend Website</i><br />
									<a href="http://www.sasss.co.za/admin/" target="_blank">http://www.sasss.co.za/admin/</a><br /><br />
									username: david.james@sasss.co.za<br />
									password: david12<br /><br />
									<span style="color: #CC0000; font-size: 13px;">Social Media</span><br /><br />
									<span style="color: #CC0000; font-size: 13px;"><a href="https://www.facebook.com/willownettica/" target="_blank">facebook.com/willownettica</a></span><br />
									<span style="color: #CC0000; font-size: 13px;"><a href="http://www.linkedin.com/company/willow-nettica" target="_blank">linkedin.com/company/willow-nettica</a></span><br />
									<span style="color: #CC0000; font-size: 13px;"><a href="https://twitter.com/willownettica">@willownettica</a></span><br /><br />									
								<!--  / content -->
								</td>
							</tr>
						</table>
					</td>
				</tr>							
				<tr>
					<td valign="top" width="600">
						<!-- footer -->
						<table cellspacing="0" border="0" height="202" cellpadding="0" width="600">
							<tr>
								<td class="copyright" height="100" align="center" valign="top" style="padding: 0 20px; color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; line-height: 20px;" width="600" colspan="2">
									Willow-Nettica - No. 64, Sir Lowry Road, Zonnebloem, 7925, Cape Town<br />Email: info@willow-nettica.co.za<br /><br />
									{$date|date_format:"%A, %B %e, %Y"}<br />
									<a style="color: #cc0000; text-decoration: none;" href="http://www.willow-nettica.co.za" target="_blank">Willow-Nettica (Pty) Ltd</a><br />
									<a style="color: #cc0000; text-decoration: none;" href="http://collop.co.za/mailers/unsubscribe.php?code={$userData.reference}" target="_blank">Click here to unsubscribe</a><br />
									<img src="http://collop.co.za/mailers/tracking.php?tracking={$tracking}" width="0" height="0" border="0" />
								</td>
							</tr>
						</table>
						<!-- / end footer -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>