<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	{literal}
	<style type="text/css">
	.list a {color: #cc0000; text-transform: uppercase; font-family: Verdana; font-size: 11px; text-decoration: none;}
	</style>
	{/literal}
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" >

<table cellspacing="0" border="0" cellpadding="0" width="950px" style="margin: auto;">
	<tr>
		<td valign="top" align="center">

			<table cellspacing="0" border="0" align="center" style="background: #fff;" cellpadding="0" width="600">
				<tr>
					<td valign="top">
						<!-- header -->
						<table cellspacing="0" border="0"  cellpadding="0" width="950px">
							<tr>
								<td class="header-text" height="50" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;" width="540" colspan="2">
									<br /><br /><webversion style="color: #990000; text-decoration: none;">Willow-Nettica Document - {$smarty.now|date_format:"%A, %B %e, %Y"}</webversion>
								</td>
							</tr>
							<tr>							
								<td class="main-title" height="5" align="center" valign="top" style="padding: 0 20px; font-size: 25px; font-family: Georgia;" width="950px" colspan="2">									
									<img src="http://www.collop.co.za/administration/images/ct_logo.jpg" />
								</td>							
							</tr>
							<tr>
								<td height="20" valign="top" width="950px" colspan="2">
									<img src="http://collop.co.za/templates/comms/WNT-V8IK-R3/images/thin-breaker.jpg" height="20" alt="" style="border: 0;" width="950px" />
								</td>
							</tr>
						</table>
						<!-- / header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" cellpadding="0" width="950px">
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
									<br />
									{$data.document_content}
									<br /><br />
								</td>
							</tr>
						</table>
						<!--  / content -->
					</td>
				</tr>		
				<tr>
					<td height="20" valign="top" width="950px" colspan="2">
						<img src="http://collop.co.za/templates/comms/WNT-V8IK-R3/images/thin-breaker.jpg" height="20" alt="" style="border: 0;" width="950px" />
					</td>
				</tr>				
				<tr>
					<td valign="top" width="950px">
						<!-- footer -->
						<table cellspacing="0" border="0" height="100" cellpadding="0" width="950px">
							<tr>
								<td class="copyright" height="100" align="center" valign="top" style="padding: 0 20px; color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; line-height: 20px;" width="950px" colspan="2">
									Willow-Nettica - No. 64, Sir Lowry Road, Zonnebloem, 7925, Cape Town<br />info@willow-nettica.co.za<br />
								</td>
							</tr>
						</table>
						<!-- / end footer -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>